.diagramTab {
  margin-top: 50px;
  max-width: 100%;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.tableArea {
  width: 100%;
}

.tableHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.headerSumColumn {
  text-align: right;
}

.tableBody {
  margin-top: 10px;
}

.categoryRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  position: relative;
  
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    width: calc(100% - 16px); 
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1); 
    bottom: 0;
    left: 8px;
  }
}

.categoryColorSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 12px;
  border-radius: 2px;
}

.sumColumn {
  text-align: right;
}

.totalRow {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 10px;
}

.separatorLine {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateY(-50%);
}

.onFilterChange {
  background-color: rgba(255, 255, 255, 0);
}

.onDateChange {
  background-color: rgba(255, 255, 255, 0);
}

.totalSumColumn {
  justify-self: end;
}
