.diagramTab {
  margin-top: 50px;
  max-width: 100%;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}





.tableArea {
  width: 100%;
}

.tableHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.tableBody {
  margin-top: 10px;
}

.categoryRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.categoryColorSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 12px;
  border-radius: 2px;
}

.sumColumn {
  text-align: right;
}

.totalRow {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 10px;
}

.onFilterChange {
  background-color: #e6f7ff; 
}

.onDateChange {
  background-color: #ffe6e6; 
}



