

.monthYearSelector {
    display: flex;
    margin-bottom: 5px;
    justify-content: center; 
    align-items: center; 
}
  .selectContainer {
    min-width: 105px;
    max-width: 150px; 
    margin-right: 10px;
  }
  