.chartWrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-diagram-container {
  display: flex;
  flex: 1;
}

.chart-container,
.diagram {
  flex: 1;
  padding: 20px;
}
